.products{
    width: 100%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:0;
    .product{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        margin:0;
        padding:0;
        background-color: white;
        border:1px solid #eee;
        position: relative;
        h4{
            position: absolute;
            top:80px;
            left:-25px;
            background-color: #ffe5ae;
            padding:7px 20px;
            rotate: -90deg;
            font-weight: 500;
            letter-spacing: 2px;
        }
        .product_img{
            max-width: 412px;
            max-height: 450px;
            width: auto;
            height: auto;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                &:hover{
                    width: 90%;
                    height: 90%;
                }
            }
        }
        h3{
            font-weight: 500;
            font-size: 24px;
        }
        h2{
            font-weight: 500;
            font-size: 18px;
            color:gray;
        }
        p{
            font-size: 24px;
            font-weight: 500;
            margin-bottom:20px;
            span{
                text-decoration:line-through;
                color:#ccc;
                padding:0 10px;
            }
        }
    }
}
@media (max-width: 992px){
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px){
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
}