.collection {
    margin: 100px 0;
    width: 100%;
    text-align: center;
    .container {
        .title {
            padding-bottom: 100px;
            display: inline-block;
            color: #000;
            font-size: 25px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 8px;
            text-transform: uppercase;
            font-family: inherit;
        }
        .cardBox {
            display: flex;
        }
    }
}