.contact {
  width: 100%;

  .img {
    background-image: url(../../images/hero_2.jpg.webp);
    width: 100%;
    min-height: 400px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .contactTitles {
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 40px;

    .container {
      padding: 16px 0;

      .contactHome {
        color: #207dff;
        transition: 0.3s all ease;

        &:hover {
          color: #0058d3;
        }
      }

      .line {
        margin: 0 8px;
        color: #8c92a0;
      }

      .contactTitle {
        color: #000;
        transition: 0.3s all ease;

        &:hover {
          color: #0058d3;
        }
      }

      .title {
        line-height: 1.7;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
  .form_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 30px;
      font-weight: 500;
      align-self: flex-start;
      padding-left: 10%;
      padding-bottom: 20px;
    }
    .form_contact {
      display: flex;
      width: 80%;
      form {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 60%;
        border: 1px solid #eee;
        padding: 50px;
        .form_name {
          width: 100%;
          display: flex;
          column-gap: 20px;
          div {
            display: flex;
            flex-direction: column;
            width: 50%;
            label {
              padding-bottom: 10px;
              span{
                color:red;
              }
            }
            input {
              padding: 10px 5px;
              width: auto;
              height: 35px;
              border: 1px solid #ced4da;
              border-radius: 5px;
              outline: none;
              transition: all 0.4s ease-in-out;
              &:focus,
              &:active {
                border: 1px solid #207dff;
              }
            }
          }
        }
        label{
          span{
            color:red;
          }
        }
        input {
          font-size: 16px;
          padding: 10px 5px;
          width: auto;
          height: 35px;
          border: 1px solid #ced4da;
          border-radius: 5px;
          outline: none;
          transition: all 0.4s ease-in-out;
          &:focus,
          &:active {
            border: 1px solid #207dff;
          }
        }
        textarea {
          font-size: 16px;
          border: 1px solid #ced4da;
          padding: 10px 5px;
          border-radius: 5px;
          outline: none;
          transition: all 0.4s ease-in-out;
          resize: none;
          &:focus,
          &:active {
            border: 1px solid #207dff;
          }
        }
        input[type="submit"]{
          font-size: 14px;
          padding:15px;
          height: 50px;
          background-color: #207dff;
          color:white;
          opacity: 0.8;
          cursor: pointer;
          &:hover{
            opacity: 1;
          }
        }
      }
      .contact_place{
        width: 40%;
        margin-left:40px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        div{
          border: 1px solid #eee;
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: 10px;
          padding: 40px 20px;
          h2{
            color:#207dff;
            font-size: 14px;
          }
          p{
            color:#8c92a0;
            font-weight: 100;
          }
        }
      }
    }
  }
}

@media (max-width: 768px){
  .contact{
    .form_container{
      .form_contact{
        flex-direction: column;
        form{
          width: 100%;
        }
        .contact_place{
          margin-top: 50px;
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}