.contact {
    width: 100%;

    .img {
        background-image: url(../../images/hero_2.jpg.webp);
        width: 100%;
        min-height: 400px;
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .contactTitles {
        border-bottom: 1px solid #f9f9f9;
        margin-bottom: 40px;

        .container {
            padding: 16px 0;

            .contactHome {
                color: #207dff;
                transition: .3s all ease;

                &:hover {
                    color: #0058d3;
                }
            }

            .line {
                margin: 0 8px;
                color: #8C92A0;
            }

            .contactTitle {
                color: #000;
                transition: .3s all ease;

                &:hover {
                    color: #0058d3;
                }
            }

            .title {
                line-height: 1.7;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}